body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
#titleContainer{
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}
#title{
    font-size: 70px;
}
#content{
    font-size: 20px;
}
#my-posts{
/*    padding: 30px;*/
    margin: auto;
/*    background-color: lime;*/
    width: 75%;
/*    height: 80%;*/
}